
:root {
    --color-text: white;

    --font-family-display: Prata, Merriweather, serif;
    --header_background-color: rgb(126, 203, 203);
    --header-border: 3px solid rgb(40, 137, 137);
    --header-text-align: center;


    --body-background-color: rgb(207, 123, 54);
    --body-link-unvisited: rgb(143, 73, 179);
    --body-link-visited: rgb(217, 27, 141);
    --body-link-hover: rgb(33, 98, 96);

    --font-family-body: Lora, "Bitstream Charter", sans-serif;
    --font-line-height-body: 1.5;
    --font-line-height-compact: 1.25;
    --font-line-height-display: 1.125;

    --font-weight-normal: 400;
    --font-weight-light: 200;
    --font-weight-bold: 700;

    --ulnobullets-padding: 0;
    --ulnobullets-margin: 0;
    --ulnobullets-listStyle: None;

    --size-spacing-small: 0.25rem;
    --size-spacing-medium: 0.5rem;
    --size-spacing-large: 1rem;
    --size-spacing-xlarge: 2rem;

    --grid-column-start: 1;
    --grid-column-end: 6;
    --grid-row-start-h1: 1;
    --grid-row-end-h1: 2;
    --grid-row-start-h2: 2;
    --grid-row-end-h2: 3;

    --header-display: flex;
    --header-align-items: baseline;
    --header-justify-content: space-between; 

    --container-display: grid;
    --container-template-columns: 0.4fr 0.2fr 0.4fr;
    --container-grid-column-gap: 10px;
    --container-grid-row-gap: 15px;
    --container-align-items: center;

    --svg-square-length: 5em;
    --svg-align: top;
    --svg-fill: currentColor;
    --svg-display: inLine;
  }
  